{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Karma&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&display=swap" rel="stylesheet">
  <title>Notes</title>
</head>

<body>
  <div class="container">
    <div class="top">
      <img class="diamond" src={% static 'redDiamond.png' %}>
      <h3 class="main_header">notes & shit</h3>
    </div>
    <h4 class="slogan">honey, get your shit together.</h4>
    <div class="navigation_bar">
      <a href='/'>home</a>
      <a href="{% url 'create_note' %}">create</a>
      <a href="{% url 'search_notes' %}">search</a>
      <a href="{% url 'sort_notes' %}">sort</a>
    </div>
    {% block content %}
    {% endblock %}
  </div>

</body>

</html>