{% extends "notes/base.html" %}

{% block content %}
<div class="list_wrapper">
  <div class="note_title_list">
    <ul id="notes">
      {% for note in notes %}
      <li>
        <div class="notes_list" id="note.id"><a href="/notes/{{ note.id }}">{{ note.title }}</a>
        </div>
        <div class="date_list">
          {% if note.updated_at != note.created_at %}
          updated on {{ note.updated_at }}
          {% endif %}
          {% if note.updated_at == note.created_at %}
          created on {{ note.created_at }}
          {% endif %}
        </div>
        {% endfor %}
      </li>
    </ul>
  </div>
</div>

{% endblock %}